<div><%= notice %></div>
<div><b>ID:</b><%= @stud.id %></div>

<div><b>Name:</b><%= @stud.name %></div>

<div>
<%= link_to 'Edit', edit_stud_path(@stud) %> | 
<%= link_to 'Back', studs_path %>
</div>
